@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {

    font-family: "Inter", sans-serif;
    color: #E8E6E1;
}

body {
    margin: 0;
    padding: 0;
    background-color: #0E0D0C;
    padding-left: 3%;
    padding-right: 3%;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}